<% include header %>



<p> hallo </p>


<div id="mapje"></div>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet/leaflet-providers.js"></script>
<script src="js/script.js"></script>
<script>
  <% for(var i=0; i < wifi.length; i++){ %>
    //dit heeft Sven gedaan, zijn de markers voor alle plaatsen
      L.marker([<%=wifi[i].geometry.y %>, <%=wifi[i].geometry.x %>]).addTo(mymap);
      // dit is voor het adres in de pop up weer te geven
      L.marker([<%=wifi[i].geometry.y %>, <%=wifi[i].geometry.x %>]).addTo(mymap)
    .bindPopup('<%=wifi[i].attributes.STRAAT %>, <%=wifi[i].attributes.HUISNR,  %>, <%=wifi[i].attributes.GEMEENTE %>')
    .openPopup();


  <% }%>
</script>

<% include footer %>
