<!DOCTYPE html>
<% include header %>

<h2>A</h2>
<a class="terug"href="/navigatie"><img src="/images/terugoranje.png" alt="terug"style="height:100px;"></a>

<h3 class="kaart">KAART</h3>


<div class="mapjehome">

<div id="mapje"></div>

</div>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet/leaflet-providers.js"></script>
<script src="js/script.js"></script>
<script>
  <% for(var i=0; i < wifi.length; i++){ %>
      // dit is voor het adres in de pop up weer te geven
      var pin = pinDefault;
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Antwerpen") {
        pin = pinRed;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Berchem") {
        pin = pinBlue;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Deurne") {
        pin = pinYellow;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Ekeren") {
        pin = pinBordeaux;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Merksem") {
        pin = pinGreen;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Berendrecht") {
        pin = pinKaki;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Wilrijk") {
        pin = pinLila;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Hoboken") {
        pin = pinOrange;
      }
      if("<%=wifi[i].attributes.GEMEENTE %>" == "Borgerhout") {
        pin = pinPurple;
      }



      L.marker([<%=wifi[i].geometry.y %>, <%=wifi[i].geometry.x %>], {icon: pin}).addTo(mymap)
    .bindPopup('<%=wifi[i].attributes.LOCATIE%>, <%=wifi[i].attributes.STRAAT %>, <%=wifi[i].attributes.HUISNR%>, <%=wifi[i].attributes.GEMEENTE %>')
    .openPopup();





  <% }%>
</script>

<% include footer %>
