<% include header %>



<!-- aanpassing om lijst internetspots te tonen -->
<div class="detail">

     <%=wifi.attributes.LOCATIE%><br>
     <%=wifi.attributes.STRAAT%>
     <%=wifi.attributes.HUISNR%><br>
     <%=wifi.attributes.POSTCODE%><br>
     <%=wifi.attributes.GEMEENTE%><br>


</div>
